{% extends 'django_sample_components/pages/master.html' %}

{% load sample_tags %}

{% block content %}
    <h1>Alert Page</h1>



    {% simple_alert %}
        Este é o conteúdo do <b>slot</b> que será injetado no template base!
        O valor da variável '{{ user.username }}' também está aqui.
    {% endsimple_alert %}


    {% simple_alert %}
        segundo alerta com outro conteúdo no slot!
    {% endsimple_alert %}

    {% simple_alert %}
        alerta pai
        {% simple_alert %}
            alerta filho
        {% endsimple_alert %}
    {% endsimple_alert %}

{% endblock %}
