<div class="alert alert-info alert-outline-info d-flex justify-content-between align-items-center" role="info">
<div class="d-flex align-items-center">
    <span class="alert-icon bg-info bg-opacity-10 p-2 rounded d-flex align-items-center justify-content-center">
    <i class="fas fa-info-circle text-info"></i>
    </span>
    <p class="mb-0">{{ slot_content }}</p>
</div>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  {% comment %} <style>
    .alert.alert-info .btn-close {
      background-color: transparent;
      box-shadow: none;
      transform: translate(0, 0) !important;
    }
  </style> {% endcomment %}
