{% load static i18n %}

<nav>
    <a href="/">{% trans "Home" %}</a>
    <a href="{% url 'django_sample_components:greeting' %}">{% trans "Greeting" %}</a>
    <a href="{% url 'django_sample_components:alert' %}">{% trans "Alert" %}</a>
    <a href="{% url 'django_sample_components:typewriter' %}">{% trans "Typewriter" %}</a>
    <a href="{% url 'django_sample_components:button' %}">{% trans "Button" %}</a>
    <a href="{% url 'django_sample_components:popup' %}">{% trans "Popup" %}</a>
    {# Async Components #}
    <a href="{% url 'django_sample_components:counter' %}">{% trans "Counter" %}</a>
    <a href="{% url 'django_sample_components:lazy_load' %}">{% trans "Lazy Load" %}</a>
    <a href="{% url 'django_sample_components:active_search' %}">{% trans "Active Search" %}</a>
    <a href="{% url 'django_sample_components:lazy_popup' %}">{% trans "Lazy Popup" %}</a>
    {# Dynamic Forms #}
    <a href="{% url 'django_sample_components:dynamic_forms_sum' %}">{% trans "Dynamic Forms" %}</a>
    <a href="{% url 'django_sample_components:registration_form' %}">{% trans "Registration Form" %}</a>
</nav>
